<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<table class = "table table-responsive">
<thead></thead>
  <tbody>
    <% @posts.each do |post| %>
      <% if post.author.service == "Vimeo" %>
        <tr>
          <td><%= image_tag("vimeo_icon2.png", class: "social-icon") %></td>
          <td><%= post.author.avatar %></td>
          <td><%= link_to post.author.name, "http://vimeo.com/#{post.author.name}", class: "feed-link" %></td>
          <td><%= link_to post.words, "http://vimeo.com/#{post.url_id}", class: "no-line" %><br><iframe src="//player.vimeo.com/video/<%= post.url_id %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></td>
          <td>Created <%= time_ago_in_words(post.timestamp) %> ago</td>
        </tr>
      <% elsif post.author.service == "Twitter" %>
          <tr>
            <td><%= image_tag("twitter_icon2.png", class: "social-icon") %></td>
            <td><%= link_to post.author.name, "http://twitter.com/#{post.author.name}", class: "feed-link" %></td>
            <td><img src="<%= post.author.avatar %>"></td>
            <td><%= link_to post.words, post.url_id, class: "no-line" %></td>
            <td>Created <%= time_ago_in_words(post.timestamp) %> ago</td>
          </tr>
      <% elsif post.author.service == "Github" %>
          <tr>

            <td><%= image_tag("github_icon2.png", class: "social-icon") %></td>
            <td><%= link_to post.author.name, "http://github.com/#{post.author.name}", class: "feed-link"%></td>
            <td><img class= "thumbnail" src="<%= post.author.avatar %>"></td>
            <td><%= post.words %></td>
            <td>Created <%= time_ago_in_words(post.timestamp) %> ago</td>
          </tr>
      <% elsif post.author.service == "Instagram" %>
          <tr>
            <td><%= image_tag("instagram_icon2.png", class: "social-icon") %></td>
            <td><%= link_to post.author.name, "http://instagram.com/#{post.author.name}", class: "feed-link" %></td>
            <td><%= image_tag(post.author.avatar, size: "48x48") %>
            <td><%= link_to image_tag(post.words, caption: post.words), post.url_id %></td>
            <td>Created <%= time_ago_in_words(post.timestamp) %> ago</td>
          </tr>
      <% else %>
        <tr>
          <td><%= post[:title] %></td>
          <td><%= post[:content] %></td>
          <td><%= post[:timestamp] %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
