<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<table>
<thead></thead>
  <tbody>
    <% @posts.each do |post| %>
      <% if post.author.service == "Vimeo" %>
        <tr>
          <td><%= post.author.name %></td>
          <td><%= post.words %><br><iframe src="//player.vimeo.com/video/<%= post.url_id %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></td>
          <td><%= post.timestamp %></td>
        </tr>
      <% elsif post.author.service == "Twitter" %>
          <tr>
            <td><img src="<%= post.author.avatar %>"></td>
            <td><%= post.author.name %></td>
            <td><%= post.words %></td>
            <td><%= post.timestamp %> </td>
          </tr>
      <% elsif post.author.service == "Github" %>
          <tr>
            <td><img src="<%= post.author.avatar %>"></td>
            <td><%= post.author.name %></td>
            <td><%= post.words %></td>
            <td><%= post.timestamp %> </td>
          </tr>
      <% elsif post.author.service == "Instagram" %>
          <tr>
            <td><%= link_to post[:show_name], "http://instagram.com/#{post.author.name}" %> on Instagram</td>
            <td><%= link_to image_tag(post.url_id, caption: post.words), post.url_id %> <!--stick a partial in here--></td>
            <td><%= post.timestamp %></td>
          </tr>
      <% else %>
        <tr>
          <td><%= post[:title] %></td>
          <td><%= post[:content] %></td>
          <td><%= post[:timestamp] %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
