<table>
<thead></thead>
  <tbody>
    <% @posts.each do |post| %>
      <% if post[:service] == "Vimeo" %>
        <tr>
          <td><%= post[:title] %></td>
          <td><iframe src="//player.vimeo.com/video/<%= post[:content] %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></td>
          <td><%= post[:timestamp] %></td>
        </tr>

      <% elsif post[:service] == "Twitter" %>
          <tr>
            <td><%= post[:user] %></td>
            <td><%= post[:content] %></td>
            <td><%= post[:timestamp] %> </td>
          </tr>
      <% elsif post[:service] == "Instagram" %>
          <tr>
            <td><%= link_to post[:author], "http://instagram.com/#{post[:author]}" %> on Instagram</td>
            <td><%= image_tag post[:image]["url"] %></td>
            <td><%= post[:timestamp] %></td>
          </tr>
      <% else %>
        <tr>
          <td><%= post[:title] %></td>
          <td><%= post[:content] %></td>
          <td><%= post[:timestamp] %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
