<table
<thead></thead>
  <tbody>
    <% @posts.each do |post| %>
      <% if post[:service] == "Vimeo" %>
        <tr>
          <td><iframe src="//player.vimeo.com/video/<%= post[:content] %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></td>
          <td><%= post[:title] %></td>
          <td><%= post[:timestamp] %></td>
        </tr>

      <% elsif post[:service] == "Twitter" %>
        puts "HELLLLLLLO"
        <%= post.each do |tweet| %>
          <%= puts "******POST***#{post.inspect}*******" %>
          <%= puts "******TWEET***#{tweet.inspect}*******" %>
          <tr>
            <td><%= tweet %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td><%= post[:title] %></td>
          <td><%= post[:content] %></td>
          <td><%= post[:timestamp] %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table
