
<% current_user = session[:current_user] %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if current_user %>
  <% user = User.find(current_user) %>
  <p>Logged in via <%= user.provider.capitalize %> as <%= user.name %></p>
  <%= link_to "Sign Out", signout_path, {method: "delete"} %>
  <%= link_to "View Feed", feed_path(current_user), class: "sign-in" %>

<% else %>
  <%= link_to "Sign In with Fake Auth", "/auth/developer" %>
  <%= link_to "Sign In with Instagram", "/auth/instagram", class: "sign-in" %>
  <%= link_to "Sign In With Twitter", "/auth/twitter" %>
  <%= link_to "Sign In With Vimeo", "/auth/vimeo" %>
  <%= link_to "Sign In With GitHub", "/auth/github" %>
<% end %>
