<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand|Amatic+SC|Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <%= image_tag("monster.jpg", :id => "monster") %>
    <h1><span>FEED ME</span></h1>
  </header>
  <% if session[:current_user] %>
    <!-- <div class = "search"> -->
      <%= form_tag("/home/search", method: "post", class: "search") do %>
      <!-- <div class "hidden"> -->
        <%= text_field_tag :search, params[:search], :placeholder => "user", :class => "text-field" %>
        <%= hidden_field_tag :service, "Vimeo" %>
        <%= submit_tag "Search", :name => nil, :class => "button" %>
      <!-- </div> -->
        <div class = "search-icon">Vimeo</div>
      <% end %>
      <!-- <div class = "search-icon">Vimeo</div> -->
    <!-- </div> -->

      <!-- <div id = "github-form">
      </div>

      <div id = "instagram-form">
      </div> -->

  <% end %>
  <div id = "middle">
  <%= yield %>
  </div>
  <footer>
    <hr>
    Pretend I am monster teeth
  </footer>

</body>
</html>
