<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand|Amatic+SC|Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <% current_user = session[:current_user] %>
    <%= image_tag("monster.jpg", :id => "monster") %>
    <h1><span>FEED ME</span></h1>

    <div id="login-stuff">
      <% if current_user %>
        Logged in as <%= User.find(current_user).name %><br>
        <%= link_to "Sign Out", signout_path, {method: "delete"} %><br>
        <%= link_to "View Feed", feed_path(current_user) %>

      <% else %>
        <%= link_to "Sign In with Fake Auth", "/auth/developer" %>
        <%= link_to "Sign In with Instagram", "/auth/instagram" %>
        <%= link_to "Sign In With Twitter", "/auth/twitter" %>
      <% end %>
    </div>

  </header>

  <% if session[:current_user] %>
    <!-- <div class = "search"> -->
      <%= form_tag("/home/search", method: "post", class: "search") do %>
      <!-- <div class "hidden"> -->
        <%= text_field_tag :search, params[:search], :placeholder => "user", :class => "text-field" %>
        <%= hidden_field_tag :service, "Vimeo" %>
        <%= submit_tag "Search", :name => nil, :class => "button" %>
        <div class = "search-icon">Vimeo</div>
      <% end %>
      <br>
      <%= form_tag("/home/search", method: "post", class: "search") do %>
        <%= text_field_tag :search, params[:search], :placeholder => "user" %>
        <%= hidden_field_tag :service, "Twitter" %>
        <%= submit_tag "Search", :name => nil, :class => "button" %>
        <div class = "search-icon">Twitter</div>
      <% end %>
      <br>
      <%= form_tag("/home/search", method: "post", class: "search") do %>
      <!-- <div class "hidden"> -->
        <%= text_field_tag :search, params[:search], :placeholder => "user", :class => "text-field" %>
        <%= hidden_field_tag :service, "Github" %>
        <%= submit_tag "Search", :name => nil, :class => "button" %>
        <div class = "search-icon">GitHub</div>
      <% end %>

      <div id = "instagram-form">
      </div> 

  <% end %>
  <div id = "middle">
  <%= yield %>
  </div>
  <footer>
    <hr>
    Pretend I am monster teeth
  </footer>

</body>
</html>
