<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand|Amatic+SC|Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <div class="inside-header">
      <% current_user = session[:current_user] %>
      <div class = "small-circle"></div>
      <div class = "big-circle"></div>
      <div id = "float">
      <div class = "med-circle"></div>
      <div class = "xs-circle"></div>
    </div>
      <h1><span>FEED ME!</span></h1>
      <!-- <div class = "small-circle"></div>
      <div class = "big-circle"></div> -->
      <div id="login-stuff">
        <% if current_user %>
          <% current_user = User.find(current_user) %>
          Logged in as <%= current_user.name %> via <%= current_user.provider.capitalize %><br>
          <%= link_to "Sign Out", signout_path, {method: "delete"} %><br>
          <%= link_to "View Feed", feed_path(current_user) %>
        <% else %>
          <%= link_to "Sign In with Fake Auth", "/auth/developer", class: "sign-in" %>
          <%= link_to "Sign In with Instagram", "/auth/instagram", class: "sign-in" %>
          <%= link_to "Sign In With Twitter", "/auth/twitter", class: "sign-in" %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="container2 zigzag"></div>



  <% if session[:current_user] %>
    <!-- <div class = "search"> -->
    <!-- VIMEO FORM: -->
    <div class="search-bars">
      <%= form_tag("/home/search", method: "post", class: "search") do %>
      <!-- <div class "hidden"> -->
        <%= text_field_tag :search, params[:search], :placeholder => "Vimeo user", class: "text-field" %>
        <%= hidden_field_tag :service, "Vimeo" %>
        <%= submit_tag "Search", :name => nil, :class => "button" %>

        <div class = "search-icon">
          <%= image_tag "vimeo_icon.png", class: "icon" %>
          <span class="sr-only">Vimeo Icon</span>
        </div>
      <% end %>


    <!-- TWITTER FORM: -->
      <%= form_tag("/home/search", method: "post", class: "search") do %>
        <%= text_field_tag :search, params[:search], :placeholder => "Twitter user", class: "text-field" %>
        <%= hidden_field_tag :service, "Twitter" %>
        <%= submit_tag "Search", :name => nil, :class => "button" %>

      <!-- </div> -->
        <div class="search-icon">
          <%= image_tag "twitter_icon.png", class: "icon" %>
          <span class="sr-only">Twitter Icon</span>
        </div>
      <% end %>


    <!-- INSTAGRAM FORM: -->
      <%= form_tag("/home/search", method: "post", class: "search") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Instagram user", class: "text-field" %>
        <%= hidden_field_tag :service, "Instagram" %>
        <%= submit_tag "Search", name: nil, class: "button" %>

        <div class="search-icon">
          <%= image_tag "instagram-icon.png", class: "icon" %>
          <span class="sr-only">Instagram Icon</span>
        </div>
      <% end %>

      <!-- GITHUB FORM -->
        <%= form_tag("/home/search", method: "post", class: "search") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Github user", class: "text-field" %>
          <%= hidden_field_tag :service, "Github" %>
          <%= submit_tag "Search", name: nil, class: "button" %>

          <div class="search-icon">
            <%= image_tag "github_icon.png", class: "icon" %>
            <span class="sr-only">Github Icon</span>
          </div>
        <% end %>
    </div>


  <% end %>
  <div id = "middle">
  <%= yield %>
  </div>
  <footer>
    <hr>
    Pretend I am monster teeth
  </footer>

</body>
</html>
